*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 45px;
}

.bg-container{
    width: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.result-dice{
    position:relative;
    height: 50px;
}
